
.card {
    border: 5px solid rgba(95, 167, 171, .2);
    border-radius: 2px;
    overflow: hidden;
    margin: 10px;
    flex-wrap:wrap;
    display: flex;
    flex-direction: column;
}

.delete a{
    color: rgba(95, 167, 171, .2);
    margin: 3px;
    transition: .5s ease;
    font-size: medium;
}

.delete:hover a{
    color:rgb(243, 79, 14);

}

.card-content {
flex: 0 0 180px;
display: flex;
flex-direction: column;
align-items: center;
color:#73c2ca;
}

.card-content img {
    transition: transform .2s ease-in-out;
    flex:1;
    width : 60% ;
    -moz-border-radius: 4px ;
    border-radius: 4px ;
}

.card-content img:hover {
    -webkit-transform: rotate(15deg) scale(1.25, 1.25);
    -moz-transform: rotate(15deg) scale(1.25, 1.25);
    -ms-transform: rotate(15deg) scale(1.25, 1.25);
    -o-transform: rotate(15deg) scale(1.25, 1.25);
    transform: rotate(15deg) scale(1.25, 1.25);
}

.card-content h3 {
    flex: 1;
    margin-bottom: auto;
    text-align: center;
    
}

.card-content a {
    color:#73c2ca;
    text-decoration: none;
    transition: .5s ease;
}

.card-content h3 a:hover {
    color:  rgb(224, 177, 22);
    cursor: pointer;
    text-decoration: none;
}

.author-image {
    border-radius: 30%;
    margin: 13px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.author-medium {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 1em;
}

@media(max-width: 810px) {
    .card-content { margin: 3.5em 3.5em 2em; }
}

@media(max-width: 650px) {
    .card-content { margin: 1.5em; }
}

@media(max-width: 570px) {
    .cardcontent { margin: .5em;}
}

@media(max-width: 500px) {
    .card-content { margin: 1.5em;}
}
