

.details-container > span{
    font-size: 30px;
    color: rgb(219, 71, 12);
    margin-right: 1em;
}

.details-container > span span{
    font-size: 25px;
    color:  #E0B116;
    margin-left: 1em;
}

.details-container > p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 45px;
    font-size: 18px;
}

.details-container > a > span{
    font-size: 30px;
    color: rgb(219, 71, 12);
    margin-right: 1em;
}
.details-container .backlink{
    color: #E0B116;
    font-size: 20px;
    margin-left: 1em;
}


.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 25px 8px 25px;
    margin-top:20px;
    border: .5px solid  rgb(20, 158, 147);
    background-color: rgb(14, 146, 135);
    color: #E0B116;
    transition: all .2s ease;
}

.button:hover {
    border: .5px solid  rgb(7, 128, 117);
    background-color: transparent;
    cursor: pointer;
}

.fi-anchor {
    font-size: 30px;
    color: rgb(219, 71, 12);
}

.footer {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    color: rgb(219, 71, 12);
    margin-top: 20px;
    font-size: 32px;
    justify-content: flex-end;
}

footer .icon {
    margin-right: 10px;
    -webkit-transition: .25s color ease-in-out;
    -moz-transition: .25s color ease-in-out;
    -o-transition: .25s color ease-in-out;
    transition: .25s color ease-in-out;
}

