

.header-container {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}

.fi-paw {
    font-size: 50px;
    color: rgb(224, 177, 22);
    align-self: center;
}
.fi-paw > p {
    font-size: 20px;
}

.edit-plus-container {
    display: flex;
    margin-left: auto;
    align-self: center;
    align-items: baseline;
    margin-top: 50px;
}
.fi-plus {
    font-size: 20px;
    margin-right: 60px;
    margin-left: auto;
    margin-top: 30px;
}

.fi-page-edit {
    font-size: 20px;
    margin-right: 60px;
    margin-left: auto;
    margin-top: 30px;

}

.fi-page-edit:hover {
    color: rgb(224, 177, 22);
    cursor: pointer;
}


.fi-plus:hover {
    color: rgb(224, 177, 22);
    cursor: pointer;
}

