

.header-container {
    display: flex;
    margin: 20px;
}

.search-input {
    text-align: center;
    border: 5px solid #F7F7F7;
    position: relative;
    left: 20px;
    top: 50px;
    max-height: 50px;
    z-index: 2;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    transition: .5s border-color ease;
}

.fi-paw {
    font-size: 50px;
    margin-top: 10px;
    color: rgb(224, 177, 22);
}
.fi-paw > p {
    font-size: 20px;
}

.fi-plus {
    font-size: 25px;
    margin-top: 25px;
    transition: 0.2s ease;
    margin-left: auto;
    margin-right: 30px;
    transition: .5s ease;
}

.fi-plus:hover {
    color: rgb(224, 177, 22);
    cursor: pointer;
}

.search-input:hover{
    border-color: rgb(224, 177, 22);
}
