.details-container {
    border: 5px solid rgba(20, 158, 147, .3);
    padding: 20px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.details-container h2 span{
    margin: 1em;
    display: block;
    color: #fff;
    font-size: 16px;
    justify-content: center;
}

.details-container input {
    display: inline;
    margin: 1em;
    padding: 5px;
    border: 5px solid rgba(20, 158, 147, 0.4);
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    align-self: center;
}


.details-container textarea {
    margin: 1em;
    width: 50%;
    height: 50px;
    padding: 5px;
    border: 5px solid rgba(20, 158, 147, 0.4);
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    align-self: center;
}


.details-container h2 span:last-child{
    padding-left: 1em;
}

.details-container h2 span:first-child{
    display: inline;
    font-size: 30px;
    color: rgb(219, 71, 12);
}

.details-container a span:last-child {
    color:  #E0B116;
    text-decoration: none;
    font-size: 16px;
    margin: 1em;
}

.details-container > a {
    padding-left: 2em;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 25px 8px 25px;
    margin-top:20px;
    border: .5px solid  rgb(20, 158, 147);
    background-color: rgb(14, 146, 135);
    color: #E0B116;
    transition: all .2s ease;
}

.button:hover {
    border: .5px solid  rgb(7, 128, 117);
    background-color: transparent;
    cursor: pointer;
}


.fi-anchor {
    font-size: 30px;
    color: rgb(219, 71, 12);
}



