* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(5, 37, 126);
    font-family: Rboto, sans-serif;
    color: #fff;
}

.App {
  width: 70%;
  margin-left: auto;
  margin-right: auto;  
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a {
    text-decoration: none;
}

@media(max-width: 1100px) {
    .title { font-size: 2.8em; }
    .App { width: 90%; }
}

@media(max-width: 900px) {
    .App { width: 100%; }
}